*{margin:0;
padding:0;}

html, body {
  margin: 0;
  background-color: #1c1c1c;
}

h1, h2, a {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}


p {
  font-family: Helvetica, Arial, sans-serif;
}

/****************POUR LE MENU**********************/
#menu
{
width: 100%;
margin: 0;
padding: 10px 0 0 0;
list-style: none;
}
#menu li
{
float: left;
padding: 0 0 10px 0;
position: relative;
}
#menu a
{
float: left;
height: 25px;
padding: 0 25px;
color: #577A6D;
text-transform: uppercase;
font: bold 12px/25px Arial, Helvetica;
text-decoration: none;
}
#menu li:hover > a
{
color: #fafafa;
}
*html #menu li a:hover
{
color: #fafafa;
}

/* Rétablissement du flottement après le passage de la souris */
#menu:after
{
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
/****************FIN MENU**********************/


.container {
  max-width: 940px;
  margin: 0 auto;
}

.score{
  width:100vw;
  margin:0;
  padding:0;
  display:flex;
  flex-direction:row;
}

.looser {
  text-align: center;
  border-left: solid 2px;
  width : 50%;
  height : 70vh;
  background: url(warfailnbr.jpg)no-repeat center bottom;
  background-size:cover;
}

#plooser{
  font-size: 18px;
  background: #1c1c1c;
  width:10%;
  margin-left:40%;
  color: white;
  padding: 8px 30px;
  margin-top:30px;
}

.winner {
  text-align: center;
  width : 50%;
  height : 70vh;
  background: url(warwinnbv.jpg)no-repeat center center;
  background-size:cover;
}

#pwinner{
  font-size: 18px;
  background: #1c1c1c;
  width:10%;
  margin-left:40%;
  color: white;
  padding: 8px 30px;
  margin-top:30px;
}

.stat{
  text-align:left;
  font-size: 14px;
  background-color:rgba(255, 255, 255, 0.5);
  padding: 8px 30px;
  margin-top: 40px;
  margin-left: 30px;
  margin-right:80px;
  font-weight:bold;
}

.temps {
  text-align: center;
  margin-bottom: 5%;
  width: 100%;
}

#tabliau{
  text-align: center;
  position : center;
  margin-top:20px;
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
}

.titre{
  margin-top:30px;
  font-size: 25px;
  font-weight:bold;
  color: rgb(0, 0, 0);
  text-align: center;
}

table,
td {
    border: 1px solid #333;
    font-size: 14px;
    font-weight:bold;
    background-color:rgba(255, 255, 255, 0.25);
}

th {
    background-color: #333;
    color: rgb(8, 8, 8);
    font-size: 16px;
    font-weight:bold;
}

#time{
  background: #080808;
  width:10%;
  margin-left:40%;
  color: #e0e0e0;
  padding: 8px 30px;
  margin-top:30px;
}
.game{
  text-align: center;
  font-size: 150%;
  margin-bottom: 3%;
  width: 100%;
}

/* Main */
.main {
  text-align: center;
  background: url(https://images4.alphacoders.com/671/thumb-1920-671688.jpg) no-repeat center center;
  background-size: cover;
  height: 750px;
  color: white;
}

.main .container {
  top: 100px;
  position: relative;
}

.main h1 {
  font-size: 150px;
  margin: 0;
}

.main p {
  margin: 0 0 20px 0;
  font-size: 18px;
  margin-bottom: 30px;
}

.btn {
  font-size: 18px;
  text-decoration: none;
  background: #1c1c1c;
  color: white;
  padding: 8px 30px;
}
.btn:hover{
  background-color: #577A6D;
}

/* FOOTER du petit carré */
.footer {
  background-color: #1c1c1c;
  text-align: center;
  padding: 50px 0 80px;
}

.footer .col {
  float: left;
  width: 28%;
  padding: 10px;
}

.footer h1,
.footer h2 {
  color: #577A6D;
  font-size: 20px;
  margin-bottom: 10px;
}

.clearfix {
  clear: both;
}

.footer p {
  color: #efefef;
  margin-bottom: 20px;
  line-height: 20px;
  font-size: 12px;
}

.fooyer .btn {
  background-color: #eee;
  color: #1c1c1c;
  font-size: 18px;
  padding: 8px 30px;
  text-decoration: none;
  display: inline-block;
}
.footer .btn:hover{
  background-color: #ffa800;
}

/****************POUR LE FOOTER**********************/
footer
{
position: relative;  /*static si il y a un problème*/
bottom: 0;
background-color: #262626;
}
.footer-distributed
{
box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
box-sizing: border-box;
width: 100%;
text-align: left;
font: bold 16px sans-serif;
padding: 55px 50px;
margin-top: 80px;
}
/* Pour la taille des 3 cadrans*/
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right
{
display: inline-block;
vertical-align: top;
}

/* Pour le cadran à gauche */
.footer-distributed .footer-left
{
width: 40%;
}
.footer-distributed h3
{
color:  #ffffff;
font: normal 36px 'Cookie', cursive;
margin: 0;
}
.footer-distributed h3 span
{
color:  #5383d3;
}
.footer-distributed .footer-words
{
color:  #ffffff;
margin: 20px 0 12px;
padding: 0;
}
.footer-distributed .footer-words a
{
display:inline-block;
line-height: 1.8;
text-decoration: none;
color:  inherit;
}
/* Pour le cadran au milieu */
.footer-distributed .footer-center
{
width: 35%;
}
.footer-distributed .footer-center i
{
background-color:  #33383b;
color: #ffffff;
font-size: 25px;
width: 38px;
height: 38px;
border-radius: 50%;
text-align: center;
line-height: 42px;
margin: 10px 15px;
vertical-align: middle;
}
.footer-distributed .footer-center i.fa-envelope
{
font-size: 17px;
line-height: 38px;
}
.footer-distributed .footer-center p
{
display: inline-block;
color: #ffffff;
vertical-align: middle;
margin:0;
}
.footer-distributed .footer-center p span
{
display:block;
font-weight: normal;
font-size:14px;
line-height:2;
}
.footer-distributed .footer-center p a
{
color:  #5383d3;
text-decoration: none;;
}
/* Pour le cadran à droite */
.footer-distributed .footer-right
{
width: 20%;
}
/* Pour le "A propos" */
.footer-distributed .footer-company-about
{
line-height: 20px;
color:  #92999f;
font-size: 13px;
font-weight: normal;
margin: 0;
}
.footer-distributed .footer-company-about span
{
display: block;
color:  #ffffff;
font-size: 14px;
font-weight: bold;
margin-bottom: 20px;
}
.footer-distributed .footer-company-name
{
color:  #8f9296;
font-size: 14px;
font-weight: normal;
margin: 0;
}
/* Pour les icônes du footer */
.footer-distributed .footer-icons
{
margin-top: 25px;
}
.footer-distributed .footer-icons a
{
display: inline-block;
width: 35px;
height: 35px;
background-color:  #33383b;
border-radius: 2px;
font-size: 20px;
color: #ffffff;
text-align: center;
line-height: 35px;
margin-right: 3px;
margin-bottom: 5px;
}
/****************FIN FOOTER**********************/

/****************POUR ADAPTER LE SITE A LA TAILLE DE L'ECRAN**********************/
@media (max-width: 880px)
{
.footer-distributed
{
font: bold 14px sans-serif;
}
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right
{
display: block;
width: 100%;
margin-bottom: 40px;
text-align: center;
}

.footer-distributed .footer-center i
{
margin-left: 0;
}
.main
{
line-height: normal;
font-size: auto;
}

}
/****************FIN TAILLE ECRAN**********************/
